<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="inputAddress" value="/Users/Mitchell/Desktop/input.csv"/>
        <add key="outputAddress" value="/Users/Mitchell/Desktop/"/>
        <add key="outputFileName" value="output"/>
    </appSettings>
</configuration>